fastapi
python-dotenv
uvicorn
pydantic
pandas
# scikit-learn
transformers
peft
accelerate>=0.26.0
nltk
pyter3==0.3
sentencepiece
torch
indic-transliteration
IndicTransToolkit
datasets
google-cloud-translate
bitsandbytes